@import './mixin.scss';

/*定义滚动条的轨道颜色、内阴影及圆角*/
.scrollbar-wrapper {
  // overflow-x: hidden !important;
  @include scrollBar

}

.el-scrollbar__bar.is-vertical {
  right: 2px;
}
// .el-scrollbar{
//   overflow-x: hidden;
// }
.el-scrollbar {
  height: 100%;
}

.scroll-style::-webkit-scrollbar {
      // 滚动条的背景
    width: 6px;
    height:12px;
    background: transparent;
  }
  .scroll-style{
    height: 100%;
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      width: 20px;
      border: 5px solid transparent;
    }   
     
    &::-webkit-scrollbar-thumb {
      //滚动条的滑块样式修改
      width: 20px;
      min-height: 20px;
      background-clip: content-box;
      box-shadow: 0 0 0 5px #464f70 inset;
    }
    
  }
  .top{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0, .12);
    text-align: center;
    line-height: 40px;
    font-size:13px;
    background-color: aliceblue;
    color: #1989fa;
   
}
.el-textarea__inner{
  @include scrollBar;
}