#app {
  .main-container {
    height: 100%;
    overflow: hidden;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background: $menuBg;

    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 61px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
    }

    .svg-icon {
      margin-right: 12px;
      // margin-right: 5px;
      width: 1.2em;
      height: 1.2em;
      vertical-align: -0.35em;
      color: #6f6f6f;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background: $menuBg;
      font-weight: normal;
      .is-active {
        .el-submenu__title {
          color: $menuBgTitle !important;
          i {
            color: $menuBgTitle !important;
          }
          .svg-icon {
            color: $menuBgTitle;
          }
        }
      }
    }

    // 当前活动菜单
    // .el-submenu.is-opened{
    //  & .el-submenu__title{
    //     background:$menuBgActive;
    //   }
    //   & .el-menu {
    //     background:$menuBgActiveSub;
    //   }
    // }
    // .el-submenu.is-active{
    //    & .el-submenu__title{
    //       background:$menuBgActive;
    //     }
    //     & .el-menu {
    //       background:$menuBgActiveSub;
    //     }
    //   }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      height: $sideBarHeight;
      line-height: $sideBarHeight;
      padding: 0 25px !important;
      font-size: 14px;

      &:hover {
        background-color: $menuHover !important;
        color: $menuBgTitle !important;
        i {
          color: $menuBgTitle !important;
        }
        // .svg-icon {
        //   // -webkit-filter: drop-shadow(#004098 80px 0);
        //   filter: drop-shadow($menuBgTitle 20px 0);
        //   transform: translateX(-20px);
        // }
      }
      // &:hover
    }

    .el-submenu__title {
      position: relative;
      &:focus {
        background: $menuBg;
      }

      i {
        // position: relative;
        position: absolute;
        // top: 2px;
        right: 26px;
        color: #000;
        // left: 8px;
        font-size: 16px;
        // font-weight: 600;
      }
    }

    // 子菜单靠左
    & .el-submenu .el-menu-item {
      color: $subMenuText;
      padding-left: 24px !important;
    }

    & .el-submenu .el-menu-item.is-active {
      background-color: $menuBgActiveSub !important;
      border-right: solid 2px $menuBorderR !important;
      color: $menuBgTitle !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      height: $sideBarMinHeight;
      line-height: $sideBarMinHeight;
      font-size: 14px;
      // background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
        color: $menuBgTitle !important;
      }
    }
  }
  /* 菜单收缩 样式 */
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // 折叠时候当前选中的样式
  .el-menu--collapse .el-submenu.is-active {
    & .el-submenu__title {
      background: $menuBgActive;
    }
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical.side-mune {
  left: 49px !important;

  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  .el-menu-item.is-active {
    background-color: $menuBgActiveSub !important;
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    background: $menuBg;
    border: 1px solid $menuBgActive;
    border-left: none;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;

    & .el-menu-item {
      color: $subMenuText;
    }

    &::-webkit-scrollbar-track-piece {
      background: $menuBgActiveSub;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
