.el-tree > .el-tree-node > .el-tree-node__content {
    padding-right: 12px;
    color: #004098;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
}

.el-tree {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #edf6ff;
}
.custom-tree-node{
  overflow: hidden;
  text-overflow: ellipsis;
}
