@import '../variables.scss';
$borderColor: #1f83f7;
$textolor: #1f83f7;
$planBgColor: #f2f6fc;
.el-button--default {
  &:hover {
    border-color: $borderColor;
  }
}
.el-button--default.is-plain {
  border-color: $borderColor;
  color: $textolor;
  &:hover {
    background-color: $planBgColor;
    border-color: $borderColor;
  }
}




@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}


.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}
.light-green{
  background: rgba(239, 243, 250, 0.8);
}
.el-button{
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
}
.el-button.btn-forbid{
  color: #b3b5b8;
  
}

.el-button [class*=el-icon-] + span{
    margin-left: 4px;
}
.el-button + .el-button {
  margin-left: 6px;
}
.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
//   buttonç»„
.btn-group {
  // margin-bottom: 8px;
  .el-button {
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 4px ;
  }

  .btn-active {
    // border-radius: 4px;
    // color: #004098;
    &:hover{
      color: #46a6ff
   }

  }

  .btn-forbid {
    // margin: 0;
    span {
      color: #b3b5b8;
    }
  }
}

.nest-menu .el-menu-item{
  height: $sideBarMinHeight;
  line-height: $sideBarMinHeight;
}