.crcc-process-designer{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    // grid-template-columns: auto max-content;
    padding-left: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}
.crcc-process-palette-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    .crcc-control_header {
        width: 100%;
        min-height: 36px;
        text-align: right;

        .el-button-group {
            margin: 8px;
        }

        .el-button {
            text-align: center;
        }

        .align {
            position: relative;

            i {
                &:after {
                    content: "|";
                    position: absolute;
                    transform: rotate(90deg) translate(200%, 60%);
                }
            }
        }

        .align.align-left i {
            transform: rotate(90deg);
        }

        .align.align-right i {
            transform: rotate(-90deg);
        }

        .align.align-top i {
            transform: rotate(180deg);
        }

        .align.align-bottom i {
            transform: rotate(0deg);
        }

        .align.align-center i {
            transform: rotate(90deg);

            &:after {
                transform: rotate(90deg) translate(0, 60%);
            }
        }

        .align.align-middle i {
            transform: rotate(0deg);

            &:after {
                transform: rotate(90deg) translate(0, 60%);
            }
        }
        
        .color-title {
            display: inline-block;
            line-height: 36px;
            margin-right: 28px;
            .color {
                display: inline-block;
                width: 16px;
                height: 16px;
                // border: 1px solid;
                border-radius: 3px;
                position: relative;
                top: 3px;
                margin-right: 8px;
            }
        }
    }

    .crcc-process-designer__container {
        flex: 1;
        display: inline-flex;
        width: 100%;

  
    }
}
.crcc-process-designer__canvas {
    * {
        box-sizing: border-box;
      }
    flex: 1;
    height: 100%;
    background: #fff;
    // background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTTAgMTBoNDBNMTAgMHY0ME0wIDIwaDQwTTIwIDB2NDBNMCAzMGg0ME0zMCAwdjQwIiBmaWxsPSJub25lIiBzdHJva2U9IiNlMGUwZTAiIG9wYWNpdHk9Ii4yIi8+PHBhdGggZD0iTTQwIDBIMHY0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+") repeat;

    position: relative;
    background-image: linear-gradient(
        90deg,
        rgba(220, 220, 220, 0.5) 6%,
        transparent 0
      ),
      linear-gradient(rgba(192, 192, 192, 0.5) 6%, transparent 0);
    background-size: 12px 12px;
    width: 100%;
    // height: calc(100vh - 82px);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    div.toggle-mode {
        display: none;
    }
    .svg {
        width: 100%;
        height: 100%;
        min-height: 100%;
        overflow: hidden;
    }
}